<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Crypton.AvChat.Gui.Properties.Watchwords" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Crypton.AvChat.Gui.Properties.Notifications" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Crypton.AvChat.Gui.Properties.Development" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Crypton.AvChat.Gui.Development" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Crypton.AvChat.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <Crypton.AvChat.Gui.Properties.Watchwords>
      <setting name="Enabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Crypton.AvChat.Gui.Properties.Watchwords>
    <Crypton.AvChat.Gui.Properties.Notifications>
      <setting name="DisableWhenAway" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlashWindowTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDogSounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableOwnSounds" serializeAs="String">
        <value>True</value>
      </setting>
    </Crypton.AvChat.Gui.Properties.Notifications>
    <Crypton.AvChat.Gui.Properties.Development>
      <setting name="enablePacketLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enableTraceLog" serializeAs="String">
        <value>False</value>
      </setting>
    </Crypton.AvChat.Gui.Properties.Development>
    <Crypton.AvChat.Gui.Development>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
    </Crypton.AvChat.Gui.Development>
    <Crypton.AvChat.Gui.Properties.Settings>
      <setting name="rememberLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoJoinList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>#avchatdev</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="enableAutoAway" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enableHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="userTextColor" serializeAs="String">
        <value>128, 128, 255</value>
      </setting>
      <setting name="userBackColor" serializeAs="String">
        <value>32, 32, 32</value>
      </setting>
      <setting name="userFont" serializeAs="String">
        <value>Segoe UI, 8.25pt</value>
      </setting>
      <setting name="userSavedCredentials" serializeAs="String">
        <value />
      </setting>
      <setting name="isMainWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mainWindowWidth" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="mainWindowHeight" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="mainWindowX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mainWindowY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="hSplitterSize" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="vSplitterSize" serializeAs="String">
        <value>-1</value>
      </setting>
    </Crypton.AvChat.Gui.Properties.Settings>
  </userSettings>
</configuration>
