<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crypton.AvChat.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Crypton.AvChat.Win.Properties.Settings>
            <setting name="ThemeName" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserColor" serializeAs="String">
                <value />
            </setting>
            <setting name="AwayEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AwayTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AwayMessage" serializeAs="String">
                <value>Auto away after 15 minutes of idle time</value>
            </setting>
            <setting name="EnableHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationMode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NotificationDisableWhenAway" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationEnableSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationEnableDog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationFlashWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationEnableOwn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatchwordsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Crypton.AvChat.Win.Properties.Settings>
    </userSettings>
</configuration>
